<!DOCTYPE html>
<html>
<head>
<title>Whats app</title>
<meta charset="utf-8">
    <meta name="description" content="whats app">
     <link rel="stylesheet" href="../css/normalize.css">
     <link rel="stylesheet" href="../css/style.css">
     <link rel="shortcut icon" type="image/x-icon" href="../images/67.jpg">
</head>
<body>
    <div class="le">
        <div class="nav1">
            <img src="../images/esl.jpg.jpg" alt="eslam" title="solom" class="im1">
            <img src="https://img.icons8.com/ios-glyphs/100/000000/menu-2.png" class="im2" alt="menu" title="menu">
            <img src="https://img.icons8.com/material-two-tone/24/000000/topic.png" class="im2" alt="Chat" title="Chat">
            <img src="https://img.icons8.com/cotton/64/000000/synchronize--v2.png" class="im2" alt="Reload" title="Reload">
        </div>
    <form>
        <input type="search" placeholder="Search for chat or Start with new chat">
    </form>
   <div class="fr">
            <div class="f1">
               <div class="ph"> <img src="../images/66.jpg" ></div>
                <div class="p1"><span class="s1">sara </span><br>01210732005</div>
                <div class="time">yesterday</div>        
                </div> 
            
         <hr>
                    <div class="f1"><div class="ph"> <img src="../images/67.jpg" ></div>
                       <div class="p1"><span class="s1">Eslam </span><br> 01287006309</div>
                     <div class="time">yesterday</div> </div>
         <hr>
                    <div class="f1"><div class="ph"> <img src="../images/68.jpg" ></div>
                        <div class="p1"><span class="s1">Ahmed </span><br> 01210732005</div>
                        <div class="time">yesterday</div> </div>
         <hr>
                        <div class="f1"><div class="ph"> <img src="../images/69.jpeg" ></div>
                            <div class="p1"><span class="s1">Esmail </span><br> 01287006309</div>
                            <div class="time">yesterday</div> </div>
         <hr>
                            <div class="f1"><div class="ph"> <img src="../images/70.jpg" ></div>
                                <div class="p1"><span class="s1">Ahmed </span><br>01210732005</div>
                                <div class="time">yesterday</div> </div>
         <hr>
                        <div class="f1"><div class="ph"> <img src="../images/71.jpg" ></div>
                            <div class="p1"><span class="s1">Elbanna </span><br> 01287006309</div>
                            <div class="time">yesterday</div> </div>
         <hr>
                        <div class="f1"><div class="ph"> <img src="../images/72.jpg" ></div>
                            <div class="p1"><span class="s1">Aml </span><br>01210732005</div>
                            <div class="time">yesterday</div> </div>
         <hr>
                        <div class="f1"><div class="ph"> <img src="../images/73.jpg" ></div>
                            <div class="p1"><span class="s1">Ebrahem </span><br> 01287006309</div>
                            <div class="time">yesterday</div> </div>
         <hr>
                    <div class="f1"><div class="ph"> <img src="../images/74.jpg" ></div>
                        <div class="p1"><span class="s1">Eman </span><br> 01210732005</div>
                        <div class="time">yesterday</div> </div>
         <hr>
                    <div class="f1"><div class="ph"> <img src="../images/75.jpg" ></div>
                        <div class="p1"><span class="s1">Aya </span><br>01287006309</div>
                        <div class="time">yesterday</div> </div>
         <hr>
                        <div class="f1"><div class="ph"> <img src="../images/76.jpg" ></div>
                            <div class="p1"><span class="s1">Ali</span><br> 01210732005</div>
                            <div class="time">yesterday</div> </div>
         <hr>
                    <div class="f1"><div class="ph"> <img src="../images/77.jpg" ></div>
                        <div class="p1"><span class="s1">Mona </span><br> 01287006309</div>
                        <div class="time">yesterday</div> </div>
   </div>
    </div>
    <div class="nav2">
    <img src="https://img.icons8.com/ios-glyphs/100/000000/menu-2.png" class="im2" alt="menu" title="menu">
     <img src="https://img.icons8.com/windows/32/000000/attach.png" class="im2" title="attch" alt="attach">
    <img src="https://img.icons8.com/material-rounded/24/000000/search.png" class="im2" title="search" alt="search">
    <div class="f5"><div class="ph"> <img src="../images/78.jpg" ></div>
                       <div class="p1"><span class="s1">Name of User </span><br> 01210732005</div>
    </div>
    <div class="in">
    </div>
    <div class="nav3">
        <div class="emo">
            <img src="https://img.icons8.com/windows/32/000000/--grin.png" title="Emotions" alt="Emotions">   
        </div>
     <div class="mess"> <input type="text" placeholder="write Message"> </div>
   <div class="send"><img src="https://img.icons8.com/material/24/000000/filled-sent.png" alt="Send" title="send"></div>
    </div>
   
    </div>
</body>
</html>