<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <div id="container">
        <aside>
            <header>
                <input type="text" placeholder="search">
            </header>
            <ul id="chatRooms">

            </ul>
        </aside>
        <main>
            <header>
                <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/1940306/chat_avatar_01.jpg" alt="">
                <div>
                    <h2>Chat with Vincent Porter</h2>
                    <h3>already 1902 messages</h3>
                </div>
                <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/1940306/ico_star.png" alt="">
            </header>
            <ul id="chat">
                <li class="you">
                    <div class="entete">
                        <span class="status green"></span>
                        <h2>Vincent</h2>
                        <h3>10:12AM, Today</h3>
                    </div>
                    <div class="triangle"></div>
                    <div class="message">
                        Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.
                    </div>
                </li>
                <li class="me">
                    <div class="entete">
                        <h3>10:12AM, Today</h3>
                        <h2>Vincent</h2>
                        <span class="status blue"></span>
                    </div>
                    <div class="triangle"></div>
                    <div class="message">
                        Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.
                    </div>
                </li>
                <li class="me">
                    <div class="entete">
                        <h3>10:12AM, Today</h3>
                        <h2>Vincent</h2>
                        <span class="status blue"></span>
                    </div>
                    <div class="triangle"></div>
                    <div class="message">
                        OK
                    </div>
                </li>
                <li class="you">
                    <div class="entete">
                        <span class="status green"></span>
                        <h2>Vincent</h2>
                        <h3>10:12AM, Today</h3>
                    </div>
                    <div class="triangle"></div>
                    <div class="message">
                        Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.
                    </div>
                </li>
                <li class="me">
                    <div class="entete">
                        <h3>10:12AM, Today</h3>
                        <h2>Vincent</h2>
                        <span class="status blue"></span>
                    </div>
                    <div class="triangle"></div>
                    <div class="message">
                        Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.
                    </div>
                </li>
                <li class="me">
                    <div class="entete">
                        <h3>10:12AM, Today</h3>
                        <h2>Vincent</h2>
                        <span class="status blue"></span>
                    </div>
                    <div class="triangle"></div>
                    <div class="message">
                        OK
                    </div>
                </li>
            </ul>
            <footer>
                <textarea placeholder="Type your message"></textarea>
                <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/1940306/ico_picture.png" alt="">
                <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/1940306/ico_file.png" alt="">
                <a href="#">Send</a>
            </footer>
        </main>
    </div>

    <script>
        var data;
        var user;
        function showData() {
            var chatRoom = "";
            if (data["status"] == false) {
                console.log("empty")
            } else {
                console.log("full")
                for (var i = 0; i < data["data"].length; i++) {
                    var lastUpdate = new Date(data["data"][i]['updated_at']);
                    if (data["data"][i]['second_user'] == null) {
                        chatRoom += `  <li>
                    <img class="chatRoomImage" src="${data["data"][i]['first_user']['image']}" alt="">
                    <div>
                        <h2>${data["data"][i]['first_user']['name']}</h2>
                        <h3>
                            <span class="status orange"></span>
                            Last Update: ${lastUpdate.toDateString()}
                        </h3>
                    </div>
                </li>`;

                    } else {

                        chatRoom += `  <li>
                    <img class="chatRoomImage" src="${data["data"][i]['second_user']['image']}" alt="">
                    <div>
                        <h2>${data["data"][i]['second_user']['name']}</h2>
                        <h3>
                            <span class="status orange"></span>
                            Last Update: ${lastUpdate.toDateString()}
                        </h3>
                    </div>
                </li>`;

                    }
                }
            }
            var chatRooms = document.getElementById('chatRooms');
            chatRooms.innerHTML = chatRoom;

        }
        window.onload = () => {
            console.log();
            var myHeaders = new Headers();
            myHeaders.append("Authorization", "Bearer 1|5LneDhnaNi0NbbYZ4v4hRUJIrhxB3FDRGkLTXEpJ");

            var requestOptions = {
                method: 'GET',
                headers: myHeaders,
                redirect: 'follow'
            };
            var test;
            fetch("http://127.0.0.1:8000/api/auth/get-chat-rooms", requestOptions)
                .then(response => response.text())
                .then(function result(x) {
                    data = JSON.parse(x);
                })
                .catch(error => console.log('error', error));

            fetch("http://127.0.0.1:8000/api/user", requestOptions)
                .then(response => response.text())
                .then(function result(x) {
                    user = JSON.parse(x);
                })
                .catch(error => console.log('error', error));
            setTimeout(showData, 1200);
        };
    </script>
</body>

</html>